<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/admin.js"></script>
    <style>
        @font-face {
            font-family: 'MaplestoryOTFLight';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'MaplestoryOTFLight';
            vertical-align: middle;
        }
        #main {
            margin-left: 50px;
            margin-top: 50px;
            width: 1210px;
            padding-left: 15px;
            padding-bottom: 50px;
            border: 4px solid black;
            border-radius: 4%;
        }
        table {
            width: 1190px;
        }
        table,
        tr {
            border: 2px solid black;
            text-align: center;
        }

        td {
            padding: 10px 50px;
        }
    </style>
    <title>관리자 페이지</title>
</head>

<body>
    <div id="main">
    <h2>가입 승인 대기</h2>
    <table class="table TableBox">
        <tr>
            <td scope="col">#</td>
            <td scope="col">ID</td>
            <td scope="col">이름</td>
            <td scope="col">신청일</td>
            <td scope="col">승인</td>
            <td scope="col">삭제</td>
        </tr>
        <% data.forEach((el,index)=> {%>
            <tr>
                <td scope="row">
                    <%= index + 1%>
                </td>
                <td>
                    <%= el.id %>
                </td>
                <td>
                    <%= el.name %>
                </td>
                <td>
                    <%= el.date %>
                </td>
                <td><button type="button" class="accept" value="<%=el.id%>" onclick="accept(value)">승인</button></td>
                <td><button type="button" class="delete" value="<%=el.id%>" onclick="reject(value)">삭제</button></td>
            </tr>
            <% }) %>
    </table>
</div>
</body>

</html>